html {
    scroll-behavior: smooth;
}

span {
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 60%;
}

header {
    display: flex;
    width: 100vw;
    height: 80px;
    margin: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #016FFF;
    z-index: 3;
    border-bottom: 1px solid white;
}

header .container {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

header .container h1 {
    margin: 0;
    color: white;
    font-size: 2.5em;
    cursor: pointer;
    font-weight: normal;
}

header .container .user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header .container p {
    margin: 0;
    font-size: 1.8em;
    color: white;
}

header .container .user img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

#items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}

#items {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    --webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.item {
    flex: none;
    width: 100%;
    height: 80vh;
    scroll-snap-align: start;
    pointer-events: none;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

#items-wrapper h1 {
    z-index: 2;
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 5.0em;
    margin-top: 0;
}

#items-wrapper p {
    z-index: 2;
    margin-top: 90px;
    color: #fff;
    position: absolute;
    font-size: 2.0em;
    font-weight: normal;
}

#items-wrapper button {
    z-index: 2;
    position: absolute;
    margin-top: 92px;
    width: 130px;
    height: 45px;
    border-radius: 50px;
    background-color: #016FFF;
    border: none;
    outline: none;
    color: white;
    font-size: 1.6em;
    cursor: pointer;
}

#items-wrapper .user_options {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 190px;
    height: 105px;
    background-color: #016FFF;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    z-index: 2;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 80px;
    padding-top: 15px;
    margin-right: 3.5%;
    visibility: hidden;
}

#items-wrapper .user_options p {
    margin: 10px 0px 10px 0px;
    z-index: 2;
    font-size: 1.7em;
    position: relative;
}

#items-wrapper .user_options .edit_profile,
.logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    padding: 0px 10px 0px 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

#items-wrapper .user_options .edit_profile:hover,
.logout:hover {
    background-color: #0d53ad;
    transition: 0.2s;
}

#items-wrapper .user_options .edit_profile img,
.logout img {
    width: 15px;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.content_container {
    display: flex;
    width: 94%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.content .console_information {
    display: flex;
    display: none;
    width: 100%;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(60, 60, 60, 0.3);
    border-radius: 5px;
    margin: -10px 0px 60px 0px;
}

.content .console_information .container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px 0px 60px 0px;
}

.content .console_information .container div {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.content .console_information .container div .labels {
    margin-bottom: 0;
}

.content .console_information .container div img {
    transition: 0.2s;
    width: 200px;
    height: 200px;
}

.content .console_information .container div img:hover {
    transition: 0.2s;
    transform: scale(0.95);
}

.content .console_information .container div:nth-child(1) {
    flex-direction: column;
    align-items: flex-start;
}

.content .console_information .container div:nth-child(1) p {
    font-size: 3.0em;
    margin: 0;
    font-weight: bold;
}

.content .console_information .container div:nth-child(1) p:nth-child(2) {
    font-size: 1.8em;
    font-weight: normal;
}

.content .console_information .container div:nth-child(2) {
    align-items: center;
}

.content .console_information .container div:nth-child(2) p {
    font-size: 1.9em;
    text-align: justify;
    width: 80%;
}

.content .console_information .container div:nth-child(3) {
    justify-content: center;
}

.content .console_information .container .labels {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0;
}

.content .console_information .container .classics {
    width: 50%;
    flex-direction: row;
    justify-content: space-evenly;
}

.content .console_information .container .classics .game {
    display: flex;
    width: 120px;
    flex-direction: column;
}

.content .console_information .container .classics .game p {
    width: 100%;
    min-height: 60px;
    margin: 0;
    font-size: 1.8em;
    text-align: center;
    font-weight: normal;
}

.content .console_information .container .recommend {
    width: 40%;
    flex-direction: row;
    justify-content: space-evenly;
}

.content .console_information .container .recommend .game {
    display: flex;
    width: 120px;
    flex-direction: column;
}

.content .console_information .container .recommend .game p {
    width: 100%;
    min-height: 50px;
    margin: 0;
    font-size: 1.8em;
    text-align: center;
    font-weight: normal;
}

.content .console_information .container .videos {
    width: 70%;
    max-width: 1300px;
    flex-direction: row;
    justify-content: space-evenly;
}

.content .console_information .container .videos .game {
    display: flex;
    width: 320px;
    flex-direction: column;
}

.content .console_information .container .videos .game p {
    width: 100%;
    min-height: 50px;
    margin: 0;
    font-size: 1.8em;
    text-align: center;
    font-weight: normal;
}

.content .console_information .container .imgGame {
    width: 120px;
    height: 170px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    transition: 0.2s;
}

.content .console_information .container .imgVideo {
    width: auto;
    height: 190px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
}


/* MEDIA QUERYS */

@media (max-width: 1600px) {
    .content .console_information .container div:nth-child(2) p {
        width: 75%;
    }
    .content .console_information .container .videos {
        width: 80%;
        max-width: 1300px;
        flex-direction: row;
        justify-content: space-evenly;
    }
}